@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(../assets/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  z-index: 200;
}
header::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%);
  z-index: -1;
}
header nav {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  height: 70px;
  transition: 0.3s ease-in;
}
header nav h1 {
  font-family: "Poppins";
  color: rgb(212, 162, 0);
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 4px;
}
header nav .input-search {
  width: 500px;
  color: #13678a;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
header nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 25px;
  z-index: 200;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-family: "Roboto", sans-serif;
  color: #fffdf8;
  text-decoration: none;
  padding: 5px;
  border-radius: 50px;
  transition: 0.5s ease;
}
header nav ul li a:hover {
  color: rgb(212, 162, 0);
  background-color: white;
}
header nav .nav-icon {
  padding: 0;
  width: 30px;
  height: 30px;
  color: white;
  transition: 0.5s ease;
}
header nav .nav-icon:hover {
  color: rgb(212, 162, 0);
}
header .wave {
  position: absolute;
  bottom: 0;
  transform: translateY(91px);
  border: none;
}

.item-seccion {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 600px 1fr 800px;
  perspective: 1000px;
}
.item-seccion .obj3D {
  transform: scale(0.8);
  transform-style: preserve-3d;
}
.item-seccion .phone-seccion {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  background-color: #0c0b0b;
  border-bottom: 6px solid rgb(212, 162, 0);
}
.item-seccion .phone-seccion .phone-obj {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-seccion .phone-seccion .phone-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-seccion .phone-seccion .phone-text h2 {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: bold;
  padding: 0 100px;
  color: white;
}
.item-seccion .PC-seccion {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  background-color: #0c0b0b;
  border-bottom: 6px solid rgb(212, 162, 0);
  margin-top: 100px;
}
.item-seccion .PC-seccion .PC-obj {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-seccion .PC-seccion .PC-text {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-seccion .PC-seccion .PC-text h2 {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: bold;
  padding: 0 70px;
  color: white;
}

.phone-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 50px 0;
}
.phone-container .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(190, 190, 190);
}
.phone-container .title-card {
  text-align: center;
}
.phone-container .card-image {
  width: 80%;
  height: 300px;
}
.phone-container .card-footer {
  border: 1px solid rgb(190, 190, 190);
}

.PC-containers {
  width: 95%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
}
.PC-containers .card-pc .img-card {
  margin-right: 10px;
}

.contact-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../assets/contactBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contact-container .contact-text {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-text h2 {
  color: rgb(212, 162, 0);
  font-family: "Poppins";
  font-size: 40px;
  font-weight: bold;
}
.contact-container .contact-text p {
  color: #fffdf8;
  font-family: "Roboto", sans-serif;
}
.contact-container form {
  width: 400px;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 8px 0px 0px rgba(255, 255, 255, 0.829);
}
.contact-container form .form-group {
  display: flex;
  width: 90%;
}
.contact-container form textarea {
  width: 90%;
  margin-top: 40px;
}
.contact-container form .button-enviar {
  padding: 5px 20px;
  background-color: green;
  margin-top: 30px;
  border-radius: 5px;
  color: #fffdf8;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-container form .button-enviar:hover {
  background-color: rgb(0, 95, 0);
  color: #fffdf8;
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 550px;
  margin-bottom: -25px;
  top: 0;
  bottom: 0;
}
.footer .footer-header {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-row: 1fr;
  background-color: rgb(27, 27, 27);
}
.footer .footer-header .footer-info {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-info h3 {
  font-family: "Poppins";
  color: rgb(212, 162, 0);
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-info p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
  margin-left: 10px;
  padding: 5px 30px;
}
.footer .footer-header .footer-sociales {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-sociales h3 {
  font-family: "Poppins";
  color: rgb(212, 162, 0);
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-sociales .social {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer .footer-header .footer-sociales .social .icon-social {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer .footer-header .footer-sociales .social a {
  color: #a09787;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer .footer-header .footer-sociales .social a:hover {
  color: white;
}
.footer .footer-header .footer-direccion {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-direccion h3 {
  font-family: "Poppins";
  color: rgb(212, 162, 0);
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-direccion .social {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer .footer-header .footer-direccion .social .icon-encuentranos {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer .footer-header .footer-direccion .social p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
}
.footer .footer-derechos {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 17);
}
.footer .footer-derechos p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
}

.sucursales-container {
  width: 95%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.sucursales-container h2 {
  display: flex;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
}
.sucursales-container h2 img {
  width: 52px;
  height: 60px;
}
.sucursales-container .sucursal {
  width: 100%;
  height: 500px;
  display: flex;
  margin-top: 50px;
}
.sucursales-container .sucursal img {
  width: 40%;
}
.sucursales-container .sucursal .map {
  width: 60%;
}
.sucursales-container .sucursal .map iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */